/*-- scss:defaults --*/

/*
LCARS

$orange:  #FF9933 !default; // primary
$light-orange: #FFCC66
$peach-orange: #FFCC99
$black-grey: #2C2C2C !default; // navbar
$dark-grey: #424242 !default; // body-bg
$light-grey: #585858 !default; // body-bg
$yellow: #FFFF99
$dark-yellow: #FFCC01
$pink: #CC6699
$purple: #CC99CC
$dark-purple: #9899FF
$blue: #99CCFF
$dark-blue: #3366cc

# Star Trek colours: https://github.com/leonawicz/trekcolors
# yellow: rgb(255, 255, 153)
# dark-yellow: rgb(255, 204, 1)
# orange: rgb(255, 153, 1)
# light-orange: rgb(255, 204, 102)
# pink: rgb(204, 102, 153)
# purple: rgb(204, 153, 204)
# dark-purple: rgb(152, 153, 255)
# blue: rgb(153, 204, 255)
# dark-grey: rgb(44, 44, 44)
# light-grey: rgb(132, 132, 132)
# lighter-grey: rgb(204, 204, 204)
*/

// Quarto SASS sass-variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables
//
// Bootsrap SASS sass-variables
// https://github.com/quarto-dev/quarto-cli/blob/d16d9f13110e084ef3c5a4b0f9561a5eb5f3158f/src/resources/formats/html/bootstrap/themes/

// Color system
$dark-shade: #191F3D;
$dark-shade-alpha: #191F3D85;
$dark-accent: #BA70A0;
$main-colour: #123C69;
$light-accent: #24639E;
$light-accent-hl: rgb(81, 129, 177);
$light-shade: #fffbfa;

$white:    #fff !default;
$gray-100: #F4F4F4 !default;
$gray-200: #E9E9E9 !default;
$gray-300: #D3D3D3 !default;
$gray-400: #C7C7C7 !default;
$gray-500: #A6A6A6 !default;
$gray-600: #909090 !default;
$gray-700: #424242 !default;
$gray-800: #373737 !default;
$gray-900: #2C2C2C !default;
$black:    #000 !default;

$blue:    #99CCFF !default;
$indigo:  #6610f2 !default; //
$purple:  #CC99CC !default;
$pink:    #CC6699 !default;
$red:     #d33682 !default; //
$orange:  #FF9933 !default;
$yellow:  #FFFF99 !default;
$green:   #64ccc3 !default; // #2aa198 !default; //
$teal:    #20c997 !default; //
$cyan:    #268bd2 !default; //

$light-orange: #FFCC66 !default;

$primary:       $orange !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $yellow !default; // $purple
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

// Colours
// https://quarto.org/docs/output-formats/html-themes.html#colors
$body-bg: $gray-700 !default; // The page background color.
$body-color: $white !default; // The page text color.
$headings-color: $gray-100 !default; // The heading color.
$link-color: $primary !default; // The link color.

// Fonts
// https://quarto.org/docs/output-formats/html-themes.html#fonts
$font-size-root:       16px !default;
$font-size-base:       1rem !default;

// Navigation
$navbar-bg: $gray-900 !default; // The background color of the navbar.
$navbar-fg: $gray-100 !default; // The colour of foreground elements in the navbar.
$footer-bg: $body-bg !default; // The background colour of the footer.
$footer-fg: $body-color !default; //	The colour of foreground elements in the footer.

// Code blocks
$code-block-bg: $gray-900 !default;

// Code Copy
$btn-code-copy-color: $gray-500 !default;
$btn-code-copy-color-active: $primary !default;

// Inline Code
$code-bg: $gray-900 !default;
$code-color: $orange !default;

// Pagination
$pagination-bg: $gray-800 !default;
$pagination-border-color: $gray-800 !default;

$pagination-hover-bg: $gray-600 !default;
$pagination-hover-border-color: $gray-600 !default;

$pagination-disabled-bg: $gray-800 !default;
$pagination-disabled-border-color: $gray-800 !default;

// Navs
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-bg:  $gray-800 !default;

// Callout Blocks
$callout-border-scale: 60% !default;
$callout-icon-scale: 0% !default;
$callout-color-important: $purple !default;
$callout-color-caution: $light-orange !default;

// Tables
$table-bg: $gray-900 !default;

// Cards

// scss-docs-start card-variables
$card-title-color:                  null !default;
$card-subtitle-color:               null !default;
$card-border-color:                 $gray-900 !default;
$card-cap-bg:                       $gray-900 !default;
$card-cap-color:                    $primary !default;
$card-color:                        null !default;
$card-bg:                           $gray-800 !default;


/*-- scss:rules --*/

// Navbar
.navbar-dark .navbar-toggler {
  border-color: rgba($black, 0);
}

.quarto-secondary-nav-title {
  color: $headings-color;
}

// Callout Blocks
@each $name, $info in $callouts {
  $shifted-color: #{shift-color(
      quarto-map.get($info, "color"),
      $callout-icon-scale
    )};
  $shifted-color-svg: str-replace($shifted-color, "#", "%23");

  $shifted-color-simple: #{saturate(
      shift-color(
        quarto-map.get($info, "color"),
        $callout-border-scale - 5%
      ),
      80%
    )};
  $shifted-color-simple-svg: str-replace($shifted-color-simple, "#", "%23");

  // Callout styling
  div.callout-#{$name}.callout-style-simple {
    color: $shifted-color-simple;
    background-color: quarto-map.get($info, "color");
  }

  div.callout-#{$name}.callout {
    color: saturate(shift-color(
      quarto-map.get($info, "color"),
      $callout-border-scale + 10%
    ), 60%);
    background-color: quarto-map.get($info, "color");
    border-width: 1px;
    border-color: shift-color(
      quarto-map.get($info, "color"),
      $callout-border-scale
    );
  }

  div.callout-#{$name}.callout-style-default > .callout-header {
    color: $body-color;
    background-color: saturate(shift-color(
      quarto-map.get($info, "color"),
      $callout-border-scale
    ), 50%);
  }

  div.callout-#{$name}.callout p code:not(.sourceCode),
  div.callout-#{$name}.callout li code:not(.sourceCode) {
    color: saturate(shift-color(
      quarto-map.get($info, "color"),
      $callout-border-scale + 30%
    ), 60%);
    background-color: $shifted-color;
  }

  // Callout icon
  div.callout-#{$name}:not(.callout-captioned) .callout-icon::before {
    background-image: #{"url('data:image/svg+xml," +
      str-replace(
        quarto-map.get($info, "icon"),
        'fill="currentColor"',
        'style="fill: #{$shifted-color-svg}"'
      ) +
      "');"};
  }

  div.callout-#{$name}.callout-captioned .callout-icon::before {
    background-image: #{"url('data:image/svg+xml," +
      str-replace(
        quarto-map.get($info, "icon"),
        'fill="currentColor"',
        'style="fill: #{$shifted-color-svg}"'
      ) +
      "');"};
  }

  div.callout-#{$name}.callout-style-simple:not(.callout-captioned) .callout-icon::before {
    background-image: #{"url('data:image/svg+xml," +
      str-replace(
        quarto-map.get($info, "icon"),
        'fill="currentColor"',
        'style="fill: #{$shifted-color-simple-svg}"'
      ) +
      "');"};
  }

  div.callout-#{$name}.callout-style-simple.callout-captioned .callout-icon::before {
    background-image: #{"url('data:image/svg+xml," +
      str-replace(
        quarto-map.get($info, "icon"),
        'fill="currentColor"',
        'style="fill: #{$shifted-color-simple-svg}"'
      ) +
      "');"};
  }

  // Collapse toggle
  div.callout-#{$name}.callout-style-simple .callout-toggle::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{colorToRGB($body-bg)}" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  }

}

// Navs
.tab-content {
  background-color: $nav-tabs-link-active-bg;
}

// Cell Output
.cell-output-error > pre > code {
  color: $red;
}

.cell-output-stderr > pre > code {
  color: $yellow;
}

// Blockquotes
.blockquote {
  color: $gray-100;
  border-left-color: $blue;
}
