/* css styles */

/* Fonts */
@font-face {
  font-family: "lcars-h";
  src: local("Helvetica Ultra Compressed"),
    url("Helvetica Ultra Compressed.otf") format("opentype");
}

@font-face {
  font-family: "lcars";
  src: local("Helvetica Condensed Regular"),
    url("Helvetica Condensed Regular.ttf") format("truetype");
}

/* Titles */
.quarto-title-banner .quarto-title .title {
  font-weight: 400;
  text-transform: uppercase;
}

/* Headings */
h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: 400;
  text-transform: uppercase;
}

h2, .h2 {
  border-bottom: 4px solid;
  border-color: inherit;
}

/* Rules */
hr:not([size]) {
  height: 4px;
}

.vr {
  width: 4px;
}

.dr {
  margin: 1rem auto;
  width: 20px;
  border-radius: 10px;
}

hr:not([size]).dr {
  height: 20px;
}

/* Bullet Points */
:not(nav) > ul:not(.navbar-nav, .nav, .pagination) {
  list-style: none;
}

:not(nav) > ul:not(.navbar-nav, .nav, .pagination) li {
  position: relative;
}

:not(nav) > ul:not(.navbar-nav, .nav, .pagination) li:before {
  content: "";
  display: block;
  width: 0.45em;
  height: 0.30em;
  border-radius: 50%;
  position: absolute;
  left: -1.25em;
  top: 0.6em;
}
